.movies-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  /*4 columnas de igual tamaño*/
    gap: 20px; /*Espacio entre las imágenes */
}

/*
.movies-container {
    border: 1px solid white;
    margin-bottom: 1rem;
    padding: 1rem;
}
*/