
<app-generic-listing [listing]="movies">
    <ng-container listingContent>
        <div class="movies-container">
            @for (movie of movies; track $index){
            <div class = "movie-container">
                <a>
                    @if(movie.poster != null){
                        <div>
                            <img [src]="movie.poster" width="180" height="260"/>
                        </div>
                    }
                    @else {
                        <div>
                            <img src="defaultMovie.jpg" width="180" height="260"/>
                        </div>
                    }
                </a>
                <p>
                    <a>{{movie.title}}</a>
                </p>
                <div>
                    <a mat-flat-button routerLink="genders/edit/{{$index}}">Edit</a>
                    <button type="button" mat-flat-button color="warn">Delete</button>
                </div>
                
            </div>
            }
        </div>
    </ng-container>
</app-generic-listing>


