.movies-web-base {
    margin: 0 auto;
    padding: 0 10%;
}

body {
    color: white;
    background-color: #01030b;
    height: fit-content;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
